#toStart0:hover { background-color: #000000; color: antiquewhite }

#toStranger1:hover { background-color: #000000; color: antiquewhite }

#toFriends2:hover { background-color: #f2b0ad; }

#toLovers3:hover { background-color: #c6b9a9 }

#Strangers4:hover { background-color: #b1b1b1 }

#toCompanions5:hover { background-color: #8ab6a5 }

#toDeath6:hover { background-color: #484848; color: aliceblue }
